  body, p, button {
    font-family: Playfair Display, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #626262;
  }

  .wrapper {
    width: 900px;
    margin: 0 auto;
  }

  header {
    /* height: 191px; */
    /* padding-top: 77px; */
  }

  nav {
    text-align: center; 
  }

  nav li {
    display: inline-block;    
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 100px;
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
  }
  
  nav li a:hover {
    color: #03a9f4;
  }

  .wrapper-post {
    font-size: 0;
  }
  
  .post {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    margin-right: 60px;
    margin-bottom: 130px;
  }

  .post:nth-child(even) {
    margin-right: 0;
  }

  .post:nth-last-child(-n+2) {
    margin-bottom: 55px;
  }

  .post img {
    display: block;
    width: 100%;
    height: auto;
}

  .post .post-title {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-top: 26px;
    margin-bottom: 30px;
  }

  .post h3 {
    font-size: 30px;
    margin-bottom: 35px;
  } 
  
  button {
    display: block;
    margin: 0 auto;    
    font-size: 20px;   
    border: 1px solid;
    border-color: #626262;
    padding: 20px 35px;
    margin-bottom: 75px;
    background-color: #ffffff;
  }

