/* fonts */
$main-font-text: "Roboto", sans-serif;
$main-font-title: "Montserrat", sans-serif;
$secondery-font-title: "Kaushan Script", cursive;

/* colors */

$main-darck-color: #333;
$secondery-darck-color: #999;
$main-white-color: #fff;
$main-axent-color: #fce38a;
$secondery-axent-color: #f38181;
$main-background-color: #95e1d3;
$main-border-color: #e7e7e7;
$main-placeholder-color: #ccc;

/* time animals */

$time-transition: 0.2s;