* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: inherit;
}
.clearfix::affter {
    content: "";
    clear: both;
    display: table;
    margin: auto;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}


header {
    padding: 38px 0px;
    height: auto;
}

.logo {
    float: left;
}

h1 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
    text-transform: uppercase;
}

h1::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

nav {
    vertical-align: middle; 
}

.top-menu {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;    
    height: 23px;
    font-size: 14px;
    line-height: 32px;
    float: right;
 }

.top-menu li {
    margin-left: 30px;
    float: left;
}

.top-menu a {
    text-decoration: none;
    color: #0f0101;     
} 

.top-menu a:hover { 
    color: #1abc9c;      
}

.products {
    padding-top: 68px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    color: #515151;
}

h2::after {
    content: '';
    display: block;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 30px auto;
}

.products-item-box {
    display: block;
    margin-top: 93px;
    margin-bottom: 90px;
 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.products-item {
    background-color: #e9f0fd;
    width: 255px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase; 
    float:left;  
    margin-bottom: 30px;
}

.products-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.products-title {
    background-color: #323232;
    height: 40px;
}

.products-name {
    display: block;
    color: #ffffff; 
    padding: 12px;
    width: 200px;
    float: left;
}

.products-price {
    display: block;
    background-color: rgba(255, 255, 255, 0.44);
    color: #ffffff; 
    padding: 12px;
    width: 55px;
    float: right;
}

.products-item:hover .products-title {
    background-color: #1abc9c;
}

.news h2{
    margin-top: 930px;
}

.news-anoncement {
    margin-top: 82px;
}

.news-item {
    float: left;
    width: 347px;
    margin-bottom: 80px;
}

.news-item:not(:nth-child(3n)) {
    margin-right: 34px;
}

.news-item img{
    margin-bottom: 14px;
}

.news-title-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    margin-bottom: 26px;
}

.news-title-item::after {
    content: '';
    display: block;
    background-color: #1abc9c;
    margin-top: 15px;
    width: 135px;
    height: 4px;
}

.news-text-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #555252;
    margin-bottom: 14px;
}

.read-more-button {
    background-color: #4ec6ab;
    width: 160px;
    padding: 12px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
}

.read-more-button a {
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
}